@media only screen and (min-width : 0px) and (max-width : 800px) {
  .about {
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    justify-content: center;
    .about-div {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
       margin-top: 5%;
      .about-picture {
        width: 75%;
        height: 100%;
        border-radius: 100%;
      }
      .about-paragraph {
        font-size: 20px;
        width: 100%;
        margin-right: 2%;
        h3 {
          margin-top: 20px;
        }
      }
      .skills {
        width: 100%;
        text-align: center;
        h3 {
          margin-top: 20px;
        }
        p {
          font-size: 20px;
        }
      }
    }
  }
}
