
.about {
  display: flex;
  flex-wrap: wrap;
  padding: 8% 0 0 0;
  justify-content: center;
  .about-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    .about-picture {
      width: 25%;
    }
    .about-paragraph {
      width: 36%;
      h3 {
        margin-top: 0px;
      }
      p {
        font-size: 24px;
        margin: 0;
      }
    }
    .skills {
      width: 38%;
      text-align: center;
      h3 {
        margin-top: 0px;
      }
      p {
        font-size: 20px;
      }
    }
  }
}
