.about {
  display: flex;
  flex-wrap: wrap;
  padding-top: 8%;
  justify-content: center;
  .about-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
     margin-top: 5%;
     width: 1100px;
    .about-picture {
      width: 25%;
    }
    .about-paragraph {
      font-size: 20px;
      width: 36%;
      margin-bottom: 20px;
      h3 {
        margin-top: 0px;
      }
    }
    .skills {
      width: 38%;
      text-align: center;
      h3 {
        margin-top: 0px;
      }
      p {
        font-size: 20px;
      }
    }
  }
}
