@media only screen and (min-width : 0px) and (max-width : 800px) {

  #about {
    flex-direction: column-reverse;
  }

  .about {
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    justify-content: center;
    .about-div {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
       margin-top: 5%;
      .about-picture {
        width: 100%;
        margin-bottom: 5%;
      }
      .about-paragraph {
        width: 100%;
        margin-right: 0%;
        h3 {
          margin-top: 20px;
        }
        p {
          font-size: 20px;

        }
      }
    }
  }
}
