footer {
  display: flex;
  flex-direction: column;
  background-color: $black;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  h1 {
    color: $tan;
    // border-bottom: 3px solid $blue;
    // width: 100%;
    text-align: center;
    margin-bottom: 5%;
  }
  .contact {
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    .contact-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0px;
      font-size: 24px;
      border: 1px solid $black;
      width: 50px;
      height: 50px;
    }
    .contact-info {
      font-size: 14px;
      p {
        font-size: 20px;
        margin-bottom: 0;
      }
    }
  }
  #phone {
    color: $tan;
    p {
      margin-bottom: 10px;
    }
  }
  .social-icon-wrapper {
    display: flex;
    justify-content: center;
    .social-icon {
      margin:15px;
      font-size: 34px;
    }
  }
}

a {
  color: $tan;
  transition: all .3s ease-in-out;
  &:visited {
    color: $tan;
  }
  &:hover {
    color: $blue;
    text-decoration: none;
  }
}
