.hero {
  display: flex;
  flex-direction: column;
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/swirl.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  align-items: center;
  justify-content: center;
  h1 {
    color: $tan;
    font-size: 70px;
    margin: 0;
    text-align: center;
    font-weight: 100;
  }
  h3 {
    color: $tan;
    font-size: 20px;
    padding: 5px;
    // border-top: 2px solid $blue;
    // border-bottom: 2px solid $blue;
  }
  button {
    margin-top: 100px;
    padding: 6px 8px;
    color: $tan;
    background-color: transparent;
    border: 1px solid $tan;
    outline: none;
    transition: all .3s ease-in-out;
      &:hover {
        background-color: $blue;
      }
  }
}
