@media only screen and (min-width : 0px) and (max-width : 800px) {
  .carousel-wrap {
    display: none;
  }

  .portfolio {
    width: 75%;
    margin: 0 auto 10% auto;
    text-align: center;
    padding: 0 3% 3% 3%;
    position: relative;
    .portfolio-h1 {
      border: none;
    }
    .portfolio-res {
      display: flex !important;
      flex-wrap: wrap;
      flex-direction: column;
      .portfolio-card {
        border-top: 2px solid $green;
        padding-top: 50px;
        margin-bottom: 50px;
        img {
          width: 100%;
        }
        a {
          color:$blue;
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}
