@media only screen and (min-width : 0px) and (max-width : 800px) {
  .resume {
    h1 {
      margin: 40px 0 60px 0;
    }
    .resume-div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      .resume-col {
        display:flex;
        flex-direction: column;
        width:300px;
        padding: 0;
        text-align: LEFT;
        margin: 0;
        .resume-title {
          font-weight: bold;
          font-size: 22px;
          color: $blue;
        }
        .exp {
          list-style-type: none;
          // min-height: 200px;
          // width: 400px;
          position: relative;
          width: 100%;
          // width: 70%;
          // border: 3px solid $blue;
          // border-radius: 2px;
          font-size: 20px;
          margin: 0%;
          padding: 0 0 0 29px;
          // background-color: $blue;
          color: $brown;
          margin-right: 0px;
          border-right: none;
          border-left: 2px solid $blue;
          &:first-child {
            padding-top: 0px;
            .arrow-right {
              &::before {
                top: 0px;
              }
            }
            .resume-title {
              margin-top: -7px;
            }
          }
          &:last-child {
            padding-bottom: 60px;
            border-left: 4px solid white !important;
            .resume-title {
              margin-top: -10px;
            }
            .arrow-left {
              &::before {
                top: -2px;
                left: -8px;
              }
            }
          }
          &:nth-child(2n) {
            margin-left: 0px;
            margin-right: 0;
            text-align: left;
            border-right: none;
            border-left: 2px solid $blue
          }
          &:nth-child(5) {
            padding-bottom: 35px;
          }
          .arrow-right {
            &::before {
              content: ' ';
              display: block;
              width: 10px;
              height: 10px;
              position: absolute;
              top: 29px;
              left: -6px;
              border-radius: 10px;
              z-index: 2;
              background-color: $green;
              }
          }
          .arrow-left {
            &::before {
               content: ' ';
               display: block;
               width: 10px;
               height: 10px;
               position: absolute;
               top: 29px;
               left: -6px;
               border-radius: 10px;
               z-index: 2;
               background-color: $green;
             }
          }
          h5 {
            font-size: 16px;
          }
        }
      }
    }
  }
}
