  .products {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10%;
    justify-content: center;
    .products-div {
      display: flex;
      justify-content: space-around;
      align-items: center;
       margin-top: 5%;
       width: 1100px;
      #product-img {
        width: 25%;
      }
    }

  }
