//https://coolors.co/app/2274a5-e7dfc6-e9f1f7-131b23-816c61

$black: #131B23;
$blue: #2274A5;
$white: #fff;
$tan: #C6AC8F;
$brown: #5E503F;
$green: #098B8C;

@import 'header';
@import 'header-responsive';
@import 'navbar';
@import 'navbar-responsive';
@import 'about';
@import 'about-responsive';
@import 'resume';
@import 'resume-responsive';
@import 'portfolio';
@import 'portfolio-responsive';
@import 'footer';
@import 'footer-responsive';

* {
  box-sizing: border-box;
}

body {
  color: $brown;
  background-color: $white;
  font-family: Raleway, sans-serif;
  overflow-x: hidden;
}

.container {
  width: 86%;
  margin: 0 auto;
  padding: 0;
}





@media only screen and (min-width : 0px) and (max-width : 800px) {
    .container {
    // width: 375px;
    margin: 0 auto;
    padding: 0;
  }
}
