//https://coolors.co/app/2274a5-e7dfc6-e9f1f7-131b23-816c61

$tan: #fff;
$green: #82a78c;
$blue: #8294a7;
$black: black;

@import 'header';
@import 'header-responsive';
@import 'navbar';
@import 'navbar-responsive';
@import 'about';
@import 'about-responsive';
@import 'resume';
@import 'resume-responsive';
@import 'footer';
@import 'footer-responsive';

* {
  box-sizing: border-box;
}

body {
  color: $black;
  background-color: $tan;
  font-family: Raleway, sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0;
}





@media only screen and (min-width : 0px) and (max-width : 800px) {
    .container {
    width: 85%;
    margin: 0 auto;
    padding: 0;
  }
}
