.hero {
  display: flex;
  flex-direction: column;
  height: 700px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/cherry.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-items: center;
  justify-content: center; }
  .hero h1 {
    color: #fff;
    font-size: 100px;
    margin: 0;
    font-weight: 100; }
  .hero h3 {
    color: #fff;
    font-size: 30px;
    padding: 5px; }
  .hero button {
    margin-top: 100px;
    padding: 6px 8px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    transition: all .3s ease-in-out; }
    .hero button:hover {
      background-color: #8294a7; }

.hero {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Users/London/adlondon1.github.io/images/swirl.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-items: center;
  justify-content: center; }
  .hero h1 {
    color: #fff;
    font-size: 70px;
    margin: 0;
    text-align: center;
    font-weight: 100; }
  .hero h3 {
    color: #fff;
    font-size: 20px;
    padding: 5px; }
  .hero button {
    margin-top: 100px;
    padding: 6px 8px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    transition: all .3s ease-in-out; }
    .hero button:hover {
      background-color: #8294a7; }

nav {
  width: 100%;
  z-index: 100000; }
  nav ul {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 0; }
    nav ul a {
      text-decoration: none;
      color: #fff;
      list-style-type: none;
      width: 20%;
      padding: 20px;
      margin-top: 0px;
      transition: all .3s ease-in-out; }
      nav ul a:hover {
        color: #8294a7; }
      nav ul a li {
        font-size: 24px;
        text-align: center; }

.mobile-nav {
  display: none; }

@media only screen and (min-width: 0px) and (max-width: 800px) {
  nav, #sticky-wrapper {
    display: none; }
  .mobile-nav {
    display: block; }
    .mobile-nav .menu-button {
      content: " ";
      position: fixed;
      right: 5%;
      top: 5%;
      padding-right: 8px;
      margin-top: -0.50em;
      line-height: 1.2;
      font-size: 18px;
      font-weight: 200;
      vertical-align: middle;
      z-index: 10001; }
      .mobile-nav .menu-button span {
        display: block;
        width: 25px;
        height: 4px;
        margin: 5px 0;
        z-index: 100;
        background: black; }
    .mobile-nav .menu-color {
      background: #fff !important; }
    .mobile-nav .responsive-menu {
      padding-top: 10%;
      display: none;
      position: fixed;
      top: 0px;
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      z-index: 1000; }
      .mobile-nav .responsive-menu ul {
        padding: 0; }
        .mobile-nav .responsive-menu ul li {
          text-align: center;
          list-style-type: none;
          margin: 20px;
          font-size: 20px; } }

.about {
  display: flex;
  flex-wrap: wrap;
  padding-top: 8%;
  justify-content: center; }
  .about .about-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    width: 1100px; }
    .about .about-div .about-picture {
      width: 25%; }
    .about .about-div .about-paragraph {
      font-size: 20px;
      width: 36%;
      margin-bottom: 20px; }
      .about .about-div .about-paragraph h3 {
        margin-top: 0px; }
    .about .about-div .skills {
      width: 38%;
      text-align: center; }
      .about .about-div .skills h3 {
        margin-top: 0px; }
      .about .about-div .skills p {
        font-size: 20px; }

@media only screen and (min-width: 0px) and (max-width: 800px) {
  .about {
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    justify-content: center; }
    .about .about-div {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 5%; }
      .about .about-div .about-picture {
        width: 100%; }
      .about .about-div .about-paragraph {
        font-size: 20px;
        width: 100%;
        margin-right: 2%; }
        .about .about-div .about-paragraph h3 {
          margin-top: 20px; }
      .about .about-div .skills {
        width: 100%;
        text-align: center; }
        .about .about-div .skills h3 {
          margin-top: 20px; }
        .about .about-div .skills p {
          font-size: 20px; } }

.products {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10%;
  justify-content: center; }
  .products .products-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    width: 1100px; }
    .products .products-div #product-img {
      width: 25%; }

footer {
  padding-top: 10%;
  padding-bottom: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: black; }
  footer h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 5%; }
  footer .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px; }
    footer .contact .contact-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
      font-size: 34px;
      border: 1px solid black;
      width: 50px;
      height: 50px; }
    footer .contact .contact-info {
      font-size: 24px; }
      footer .contact .contact-info p {
        margin-bottom: 0; }
  footer #phone {
    color: #fff; }
    footer #phone p {
      margin-bottom: 10px; }
  footer .social-icon-wrapper {
    display: flex;
    justify-content: center; }
    footer .social-icon-wrapper .social-icon {
      margin: 15px;
      font-size: 34px; }

a {
  color: #fff;
  transition: all .3s ease-in-out; }
  a:visited {
    color: #fff; }
  a:hover {
    color: #8294a7;
    text-decoration: none; }

footer {
  padding-top: 10%;
  padding-bottom: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: black; }
  footer h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 5%; }
  footer .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px; }
    footer .contact .contact-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0px;
      font-size: 24px;
      border: 1px solid black;
      width: 50px;
      height: 50px; }
    footer .contact .contact-info {
      font-size: 14px; }
      footer .contact .contact-info p {
        font-size: 20px;
        margin-bottom: 0; }
  footer #phone {
    color: #fff; }
    footer #phone p {
      margin-bottom: 10px; }
  footer .social-icon-wrapper {
    display: flex;
    justify-content: center; }
    footer .social-icon-wrapper .social-icon {
      margin: 15px;
      font-size: 34px; }

a {
  color: #fff;
  transition: all .3s ease-in-out; }
  a:visited {
    color: #fff; }
  a:hover {
    color: #8294a7;
    text-decoration: none; }

* {
  box-sizing: border-box; }

body {
  color: black;
  background-color: #fff;
  font-family: Raleway, sans-serif;
  overflow-x: hidden; }

.container {
  width: 86%;
  margin: 0 auto;
  padding: 0; }

@media only screen and (min-width: 0px) and (max-width: 800px) {
  .container {
    margin: 0 auto;
    padding: 0; } }
