.hero {
  display: flex;
  flex-direction: column;
  height: 700px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1433360405326-e50f909805b3?crop=entropy&fit=crop&fm=jpg&h=925&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-items: center;
  justify-content: center; }
  .hero h1 {
    color: #fff;
    font-size: 100px;
    margin: 0;
    font-weight: 100; }
  .hero h3 {
    color: #fff;
    font-size: 30px;
    padding: 5px; }
  .hero button {
    margin-top: 100px;
    padding: 6px 8px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    transition: all .3s ease-in-out; }
    .hero button:hover {
      background-color: #2274A5; }

.hero {
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1433360405326-e50f909805b3?crop=entropy&fit=crop&fm=jpg&h=925&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1925");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-items: center;
  justify-content: center; }
  .hero h1 {
    color: #fff;
    font-size: 70px;
    margin: 0;
    text-align: center;
    font-weight: 100; }
  .hero h3 {
    color: #fff;
    font-size: 20px;
    padding: 5px; }
  .hero button {
    margin-top: 100px;
    padding: 6px 8px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    transition: all .3s ease-in-out; }
    .hero button:hover {
      background-color: #2274A5; }

nav {
  width: 100%;
  z-index: 100000; }
  nav ul {
    display: flex;
    justify-content: space-around;
    background-color: #131B23;
    padding: 0; }
    nav ul a {
      text-decoration: none;
      color: #fff;
      list-style-type: none;
      width: 20%;
      padding: 20px;
      margin-top: 0px;
      transition: all .3s ease-in-out; }
      nav ul a:hover {
        color: #2274A5; }
      nav ul a li {
        font-size: 24px;
        text-align: center; }

.mobile-nav {
  display: none; }

@media only screen and (min-width: 0px) and (max-width: 800px) {
  nav, #sticky-wrapper {
    display: none; }
  .mobile-nav {
    display: block; }
    .mobile-nav .menu-button {
      content: " ";
      position: fixed;
      right: 5%;
      top: 5%;
      padding-right: 8px;
      margin-top: -0.50em;
      line-height: 1.2;
      font-size: 18px;
      font-weight: 200;
      vertical-align: middle;
      z-index: 10001; }
      .mobile-nav .menu-button span {
        display: block;
        width: 25px;
        height: 4px;
        margin: 5px 0;
        z-index: 100;
        background: #131B23; }
    .mobile-nav .menu-color {
      background: white !important; }
    .mobile-nav .responsive-menu {
      padding-top: 10%;
      display: none;
      position: fixed;
      top: 0px;
      background-color: rgba(0, 0, 0, 0.7);
      width: 100%;
      z-index: 1000; }
      .mobile-nav .responsive-menu ul {
        padding: 0; }
        .mobile-nav .responsive-menu ul li {
          text-align: center;
          list-style-type: none;
          margin: 20px;
          font-size: 20px; } }

.about {
  display: flex;
  flex-wrap: wrap;
  padding-top: 8%;
  justify-content: center; }
  .about .about-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%; }
    .about .about-div .about-picture {
      width: 24%;
      height: 100%;
      border-radius: 100%; }
    .about .about-div .about-paragraph {
      font-size: 20px;
      width: 36%;
      margin-right: 2%; }
      .about .about-div .about-paragraph h3 {
        margin-top: 0px; }
    .about .about-div .skills {
      width: 38%;
      text-align: center; }
      .about .about-div .skills h3 {
        margin-top: 0px; }
      .about .about-div .skills p {
        font-size: 20px; }

@media only screen and (min-width: 0px) and (max-width: 800px) {
  .about {
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    justify-content: center; }
    .about .about-div {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 5%; }
      .about .about-div .about-picture {
        width: 75%;
        height: 100%;
        border-radius: 100%; }
      .about .about-div .about-paragraph {
        font-size: 20px;
        width: 100%;
        margin-right: 2%; }
        .about .about-div .about-paragraph h3 {
          margin-top: 20px; }
      .about .about-div .skills {
        width: 100%;
        text-align: center; }
        .about .about-div .skills h3 {
          margin-top: 20px; }
        .about .about-div .skills p {
          font-size: 20px; } }

.resume {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10%;
  justify-content: center; }
  .resume h1 {
    border: 2px solid #5E503F;
    margin: 0;
    padding: 20px;
    color: #2274A5;
    transition: all .3s ease-in-out; }
    .resume h1:hover {
      background-color: #2274A5 !important;
      color: #fff !important; }
  .resume .resume-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; }
    .resume .resume-div .resume-col {
      display: flex;
      flex-direction: column;
      width: 800px;
      padding: 0;
      text-align: right;
      margin: 0; }
      .resume .resume-div .resume-col .resume-title {
        font-weight: bold;
        color: #2274A5; }
      .resume .resume-div .resume-col .exp {
        list-style-type: none;
        position: relative;
        width: 400px;
        font-size: 20px;
        margin: 0%;
        padding: 0 29px;
        color: #5E503F;
        margin-right: 400px;
        border-right: 2px solid #2274A5; }
        .resume .resume-div .resume-col .exp:first-child {
          padding-top: 70px; }
          .resume .resume-div .resume-col .exp:first-child .arrow-right::before {
            top: 100px; }
        .resume .resume-div .resume-col .exp:last-child {
          padding-bottom: 100px; }
        .resume .resume-div .resume-col .exp:nth-child(2n) {
          margin-left: 398px;
          margin-right: 0;
          text-align: left;
          border-right: none;
          border-left: 2px solid #2274A5; }
        .resume .resume-div .resume-col .exp .arrow-right::before {
          content: ' ';
          display: block;
          width: 10px;
          height: 10px;
          position: absolute;
          top: 29px;
          right: -6px;
          border-radius: 10px;
          z-index: 2;
          background-color: #098B8C; }
        .resume .resume-div .resume-col .exp .arrow-left::before {
          content: ' ';
          display: block;
          width: 10px;
          height: 10px;
          position: absolute;
          top: 29px;
          left: -6px;
          border-radius: 10px;
          z-index: 2;
          background-color: #098B8C; }
        .resume .resume-div .resume-col .exp h5 {
          font-size: 16px; }

@media only screen and (min-width: 0px) and (max-width: 800px) {
  .resume h1 {
    margin: 40px 0 60px 0; }
  .resume .resume-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; }
    .resume .resume-div .resume-col {
      display: flex;
      flex-direction: column;
      width: 300px;
      padding: 0;
      text-align: LEFT;
      margin: 0; }
      .resume .resume-div .resume-col .resume-title {
        font-weight: bold;
        font-size: 22px;
        color: #2274A5; }
      .resume .resume-div .resume-col .exp {
        list-style-type: none;
        position: relative;
        width: 100%;
        font-size: 20px;
        margin: 0%;
        padding: 0 0 0 29px;
        color: #5E503F;
        margin-right: 0px;
        border-right: none;
        border-left: 2px solid #2274A5; }
        .resume .resume-div .resume-col .exp:first-child {
          padding-top: 0px; }
          .resume .resume-div .resume-col .exp:first-child .arrow-right::before {
            top: 0px; }
          .resume .resume-div .resume-col .exp:first-child .resume-title {
            margin-top: -7px; }
        .resume .resume-div .resume-col .exp:last-child {
          padding-bottom: 60px;
          border-left: 4px solid white !important; }
          .resume .resume-div .resume-col .exp:last-child .resume-title {
            margin-top: -10px; }
          .resume .resume-div .resume-col .exp:last-child .arrow-left::before {
            top: -2px;
            left: -8px; }
        .resume .resume-div .resume-col .exp:nth-child(2n) {
          margin-left: 0px;
          margin-right: 0;
          text-align: left;
          border-right: none;
          border-left: 2px solid #2274A5; }
        .resume .resume-div .resume-col .exp:nth-child(5) {
          padding-bottom: 35px; }
        .resume .resume-div .resume-col .exp .arrow-right::before {
          content: ' ';
          display: block;
          width: 10px;
          height: 10px;
          position: absolute;
          top: 29px;
          left: -6px;
          border-radius: 10px;
          z-index: 2;
          background-color: #098B8C; }
        .resume .resume-div .resume-col .exp .arrow-left::before {
          content: ' ';
          display: block;
          width: 10px;
          height: 10px;
          position: absolute;
          top: 29px;
          left: -6px;
          border-radius: 10px;
          z-index: 2;
          background-color: #098B8C; }
        .resume .resume-div .resume-col .exp h5 {
          font-size: 16px; } }

.carousel-control.left, .carousel-control.right, .item {
  background-image: none; }

.portfolio {
  width: 75%;
  margin: 0 auto 10% auto;
  text-align: center;
  padding: 0 3% 3% 3%;
  position: relative; }
  .portfolio .portfolio-h1 {
    display: inline-block;
    padding: 20px;
    margin: 0 auto;
    border: 2px solid #098B8C;
    margin-bottom: 20px;
    z-index: 10;
    position: relative;
    background-color: white; }
  .portfolio .carousel-wrap {
    position: relative; }
    .portfolio .carousel-wrap .carousel {
      padding: 63px;
      margin-top: -63px;
      border: 2px solid #098B8C;
      position: static; }
      .portfolio .carousel-wrap .carousel .carousel-control {
        margin: 10px; }
      .portfolio .carousel-wrap .carousel .hovereffect {
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-align: center;
        cursor: default; }
        .portfolio .carousel-wrap .carousel .hovereffect .overlay {
          width: 100%;
          height: 100%;
          position: absolute;
          overflow: hidden;
          top: 0;
          left: 0;
          opacity: 0;
          background-color: rgba(0, 0, 0, 0.6);
          -webkit-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out; }
          .portfolio .carousel-wrap .carousel .hovereffect .overlay p {
            font-size: 24px;
            width: 80%;
            margin: 0 auto; }
        .portfolio .carousel-wrap .carousel .hovereffect img {
          width: 100%;
          -webkit-transition: all .4s linear;
          transition: all .4s linear; }
        .portfolio .carousel-wrap .carousel .hovereffect h1 {
          background: rgba(0, 0, 0, 0.7);
          -webkit-transform: translatey(-100px);
          -ms-transform: translatey(-100px);
          transform: translatey(-100px);
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          padding: 10px; }
        .portfolio .carousel-wrap .carousel .hovereffect:hover img {
          -ms-transform: scale(1.2);
          -webkit-transform: scale(1.2);
          transform: scale(1.2); }
        .portfolio .carousel-wrap .carousel .hovereffect:hover .overlay {
          opacity: 1;
          filter: alpha(opacity=100); }
        .portfolio .carousel-wrap .carousel .hovereffect:hover h1, .portfolio .carousel-wrap .carousel .hovereffect .hovereffect:hover a {
          opacity: 1;
          filter: alpha(opacity=100);
          -ms-transform: translatey(0);
          -webkit-transform: translatey(0);
          transform: translatey(0); }
        .portfolio .carousel-wrap .carousel .hovereffect .button-wrap a {
          -webkit-transition-delay: .2s;
          transition-delay: .2s; }
          .portfolio .carousel-wrap .carousel .hovereffect .button-wrap a h3 {
            display: inline-block;
            width: 200px;
            margin: 37px;
            padding: 20px;
            color: #2274A5;
            margin-top: 100px;
            transition: all .3s ease-in-out;
            background-color: #fff; }
            .portfolio .carousel-wrap .carousel .hovereffect .button-wrap a h3:hover {
              background-color: #2274A5 !important;
              color: #fff !important; }
  .portfolio .portfolio-res {
    display: none; }
  .portfolio .github-link {
    margin-top: 50px; }
    .portfolio .github-link a {
      color: #5E503F; }
      .portfolio .github-link a:hover {
        color: #5E503F; }
      .portfolio .github-link a span {
        color: #2274A5; }

@media only screen and (min-width: 0px) and (max-width: 800px) {
  .carousel-wrap {
    display: none; }
  .portfolio {
    width: 75%;
    margin: 0 auto 10% auto;
    text-align: center;
    padding: 0 3% 3% 3%;
    position: relative; }
    .portfolio .portfolio-h1 {
      border: none; }
    .portfolio .portfolio-res {
      display: flex !important;
      flex-wrap: wrap;
      flex-direction: column; }
      .portfolio .portfolio-res .portfolio-card {
        border-top: 2px solid #098B8C;
        padding-top: 50px;
        margin-bottom: 50px; }
        .portfolio .portfolio-res .portfolio-card img {
          width: 100%; }
        .portfolio .portfolio-res .portfolio-card a {
          color: #2274A5; }
          .portfolio .portfolio-res .portfolio-card a p {
            font-size: 20px; } }

footer {
  padding-top: 10%;
  padding-bottom: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #131B23; }
  footer h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 5%; }
  footer .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px; }
    footer .contact .contact-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
      font-size: 34px;
      border: 1px solid #131B23;
      width: 50px;
      height: 50px; }
    footer .contact .contact-info {
      font-size: 24px; }
      footer .contact .contact-info p {
        margin-bottom: 0; }
  footer #phone {
    color: #fff; }
    footer #phone p {
      margin-bottom: 10px; }
  footer .social-icon-wrapper {
    display: flex;
    justify-content: center; }
    footer .social-icon-wrapper .social-icon {
      margin: 15px;
      font-size: 34px; }

a {
  color: #fff;
  transition: all .3s ease-in-out; }
  a:visited {
    color: #fff; }
  a:hover {
    color: #2274A5;
    text-decoration: none; }

footer {
  padding-top: 10%;
  padding-bottom: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #131B23; }
  footer h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 5%; }
  footer .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px; }
    footer .contact .contact-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0px;
      font-size: 24px;
      border: 1px solid #131B23;
      width: 50px;
      height: 50px; }
    footer .contact .contact-info {
      font-size: 14px; }
      footer .contact .contact-info p {
        font-size: 20px;
        margin-bottom: 0; }
  footer #phone {
    color: #fff; }
    footer #phone p {
      margin-bottom: 10px; }
  footer .social-icon-wrapper {
    display: flex;
    justify-content: center; }
    footer .social-icon-wrapper .social-icon {
      margin: 15px;
      font-size: 34px; }

a {
  color: #fff;
  transition: all .3s ease-in-out; }
  a:visited {
    color: #fff; }
  a:hover {
    color: #2274A5;
    text-decoration: none; }

* {
  box-sizing: border-box; }

body {
  color: #5E503F;
  background-color: #fff;
  font-family: Raleway, sans-serif;
  overflow-x: hidden; }

.container {
  width: 86%;
  margin: 0 auto;
  padding: 0; }

@media only screen and (min-width: 0px) and (max-width: 800px) {
  .container {
    margin: 0 auto;
    padding: 0; } }
